<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<!-- <string>https://hohma.su/api/trpc</string> -->
	<string>https://riqtu.ru/api/trpc</string>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Apple Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>riqtu.Hohma</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Universal Links</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:hohma.su</string>
	</array>
	<key>KINOPOISK_API_KEY</key>
	<string>$(KINOPOISK_API_KEY)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TELEGRAM_BOT_ID</key>
	<string>7708867557</string>
	<key>TELEGRAM_DOMAIN</key>
	<string>https://hohma.su</string>
	<key>UIAppFonts</key>
	<array>
		<string>LuckiestGuy-Regular.ttf</string>
	</array>
	<key>WS_URL</key>
	<string>https://ws.hohma.su</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>DOMAIN</key>
	<string>https://hohma.su</string>
</dict>
</plist>
